<div class="leftpanel">
<div class="media profile-left">
    <a class="pull-left profile-thumb">
    <img class="img-circle" src="/images/admin-profile.png" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Admin</h4>
    </div>
</div>
<ul class="nav nav-pills nav-stacked">
    <li><a href="/web/dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <li><a href="/web/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
    <li><a href="javascript:void(0);"><i class="fa fa-tags"></i> <span>Category</span></a></li>
    <li><a href="javascript:void(0);"><i class="fa fa-tags"></i> <span>Sub Category</span></a></li>
    <li><a href="javascript:void(0);"><i class="fa fa-thumbs-up"></i> <span>Events</span></a></li>
</ul>
</div><!-- leftpanel --> 
        